<?xml version="1.0"?>
<config>
    <modules>
        <Geocom_GeoApi>
            <version>0.1.0</version>
        </Geocom_GeoApi>
    </modules>
    <global>
        <models>
            <geocom_geoapi>
                <class>Geocom_GeoApi_Model</class>
                <resourceModel>geocom_geoapi_resource</resourceModel>
            </geocom_geoapi>
            <geocom_geoapi_resource>
                <class>Geocom_GeoApi_Model_Resource</class>
            </geocom_geoapi_resource>
        </models>
        <blocks>
            <geocom_geoapi>
                <class>Geocom_GeoApi_Block</class>
            </geocom_geoapi>
        </blocks>
        <helpers>
            <geocom_geoapi>
                <class>Geocom_GeoApi_Helper</class>
            </geocom_geoapi>
        </helpers>
    </global>
    <frontend>
        <routers>
            <geoapi>
                <use>standard</use>
                <args>
                    <frontName>geoapi</frontName>
                    <module>Geocom_GeoApi</module>
                </args>
            </geoapi>
        </routers>
    </frontend>
</config>